<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="I'm a freelance Full Stack Web Developer based in Montpellier, France. Passionate about design and technology, I love developing landing pages, websites and apps with a strong focus on detail and performance.">
	<meta name="robots" content="index,follow">
	<title>Alexis Bergel - Web Developer</title>
	
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/interface/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/interface/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/interface/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/interface/favicons/site.webmanifest">
	<link rel="mask-icon" href="/images/interface/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/images/interface/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="msapplication-config" content="/images/interface/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<nav>
		<a href=""><img class="nav__logo" src="/images/interface/main-logo.svg" alt="Main logo"></a>
		<p class="nav__top-button">alexisbergel.com<span>/</span></p>
		<ul class="nav__links">
			<li><a class="nav__links--selected" href="#about">About</a></li>
			<li><a href="#work">Work</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>

		<ul class="nav__footer-links">
			<li><a href="mailto:contact@alexisbergel.com">Mail</a></li>
			<li><a href="https://www.linkedin.com/in/alexisbergel/">LinkedIn</a></li>
			<li><a href="https://twitter.com/alexisbergel">X.com</a></li>
			<li><a href="https://github.com/alexisbergel">GitHub</a></li>
		</ul>

		<a class="nav__contact--button" href="mailto:contact@alexisbergel.com">contact@alexisbergel.com</a>
	</nav>

	<main>
		<section id="about" data-dynamic-title="See my work">
			<div class="section__header content--small">
				<h1>Alexis Bergel</h1>
				<h2>Designer & <br> Web Developer</h2>
				<p>I'm a freelance Full Stack Web Developer based in Montpellier, France.<br/>Passionate about design and technology, I love developing landing pages, websites and apps with a strong focus on detail and performance.</p>
			</div>
		</section>

		<section id="work" data-dynamic-title="Get in Touch">
			<div class="section__header content--center content--small">
				<h1>Work</h1>
				<h2>Talking is good,<br/> showing is better.</h2>
				<p>Your project, featured next.</p>
			</div>

			<div class="work__content content--large">

				<div class="work__content__card content--center">
					<div class="work__content__card__content">
						<h1>Portfolio</h1>
						<h2>Guillaume Floris<br/>Photographer</h2>
						<div class="work_content__card__header__nav">
							<a href="https://guillaumefloris.com" target="_blank" class="work_content__card__header__nav__button work_content__card__header__nav__button--outlined">Visit the website</a>
							<!--<a href="#" class="work_content__card__header__nav__button work_content__card__header__nav__button--outlined">Lire l'histoire</a>-->
						</div>
						<img src="images/work/gflrs.jpg" alt="Screenshot of the website guillaumefloris.com">
					</div>
				</div>

			</div>
		</section>

		<section id="contact" data-dynamic-title="">
			<div class="section__header content--center content--small">
				<h1>Contact</h1>
				<h2>Now, let's talk.</h2>
				<p>If you have any questions, a website or landing page project in mind, or even if you just have a rough idea, feel free to get in touch.</p>
			</div>
			
			<div class="contact__content content--large">
				<form>
					<div class="form-input">
						<label for="contact__form__mail">Mail <span>(Required)</span></label>
						<input id="contact__form__mail" type="mail" name="mail" placeholder="Mail address">
					</div>
		
					<div class="form-input">
						<label for="contact__form__message">Message <span>(Required)</span></label>
						<textarea id="contact__form__message" name="message" placeholder="Write here..."></textarea>
					</div>
		
					<input type="submit" value="Send message" aria-label="Submit the form">
				</form>
	
				<div class="contact__form-response">
					<div>
						<div class="contact__form-response__icon"></div>
						<h4>Message sent</h4>
						<p>Message sent loud and clear ! I’ll get back to you soon.</p>
					</div>
					
				</div>
			</div>
		</section>
	</main>

	<footer>
		<img src="images/interface/footer-logo.svg" alt="Main logo">
		<h3>Made by Alexis Bergel</h3>
		<p>Based in France</p>
	</footer>

	<div class="bottom-navigation">
		<ul class="bottom-navigation__links">
			<li><a href="mailto:contact@alexisbergel.com">Mail</a></li>
			<li><a href="https://www.linkedin.com/in/alexisbergel/">LinkedIn</a></li>
			<li><a href="https://twitter.com/alexisbergel">X.com</a></li>
			<li><a href="https://github.com/alexisbergel">GitHub</a></li>
		</ul>
	</div>

	<div class="bottom-navigation bottom-navigation--left">
		<ul class="bottom-navigation__languages">
			<li><a class="bottom-navigation__languages--selected" href="/">EN</a></li>
			<li><a href="/fr">FR</a></li>
		</ul>
	</div>

	<a class="dynamic-button" href="#work" role="button">
		<div class="dynamic-button__content">
			<img src="images/interface/arrow-icon.svg">
			<span>See my work</span>
		</div>
	</a>

	<div class="mobile-nav">
		<a href=""><img class="nav__logo" src="/images/interface/main-logo.svg" alt="Main logo"></a>
		<button type="button" aria-label="Open navigation menu">Menu</button>
	</div>

	<script src="js/main.js"></script>
	<script src="js/contact.js"></script>
</body>
</html>